.property-label {
  font-weight: bold;
}

.pokemon-card {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

img {
  width: 200px;
  margin: 0 auto;
}

.movements-class {
  flex-wrap: wrap;
}

.btn-success {
  margin-left: 20px;
}

@media (min-width: 750px) {
  .pokemon-card {
    width: 60%;
  }
}
