<div class="container-fluid">
  <img
    src="../assets//pokemon-logo.png"
    alt="Pokemon logo"
    class="pokemon-logo"
  />
  <router-outlet></router-outlet>
  <app-search (searchPokemon)="onSearchPokemon($event)"></app-search>
  <div>
    <app-pokemon-info
      [pokemon]="pokemon"
      [locations]="pokemonLocations"
      [hideInfo]="true"
      *ngIf="pokemon"
    ></app-pokemon-info>
    <div *ngIf="favoritesList.length > 0">
      <h2>Favorites List</h2>
      <app-favorites [favoritesArray]="favoritesList"></app-favorites>
    </div>
  </div>
</div>
