/* You can add global styles to this file, and also import other style files */

.flex-display {
  display: flex;
}

body {
  background-color: aliceblue;
  background-image: url("./assets/pokeball.png");
  background-size: 100px;
}
